.account-manage-header {
  padding: 32px 0 0 24px;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
